#id1 {
    color: #ff1c89;
    background-color: #aa8912;
}
#id2 {
    color: #ff1c87;
    background-color: #aa8112;
}
#id3 {
    color: #fc1c89;
    background-color: #af8912;
}
#id4 {
    color: #aa1c89;
    background-color: #aa1112;
}
#id5 {
    color: #ff1c29;
    background-color: #aa1912;
}
#id6 {
    color: #ff4c89;
    background-color: #dd8912;
}
#id7 {
    color: #fd1c89;
    background-color: #da8912;
}
#id8 {
    color: #df1c89;
    background-color: #aa8952;
}
#id9 {
    color: #ff1c86;
    background-color: #ac8912;
}
#id10 {
    color: #ff6c89;
    background-color: #aa8672;
}
