#d1 {
    width: 400px;
    height: 200px;
    background-color: #ff0000;
}
#d2 {
    width: 400px;
    height: 200px;
    background-color: #00ff00;
}
#d3 {
    width: 200px;
    height: 100px;
    background-color: #0000ff;
}
