@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Outfit";
}
#conteiner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 55%, 11%);
}
#info {
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    height: 500px;
    border-radius: 20px;
}
#parent-img {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#h-img {
    width: 85%;
    height: 85%;
    border-radius: 10px;
    background-image: url(./images/image-equilibrium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#hover {
    width: 100%;
    height: 100%;
    transition: 0.25s;
    border-radius: 10px;
    background-position: center;
}
#hover:hover {
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.329);
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
}
#info h2 {
    color: white;
    position: relative;
    top: -10px;
    left: 25px;
}
#info h2:hover {
    color: hsl(178, 100%, 50%);
}
#info #p1 {
    color: hsl(215, 51%, 70%);
    position: relative;
    left: 25px;
}
#img1 {
    position: relative;
    top: 20px;
    left: 25px;
}
#info h4 {
    color: hsl(178, 100%, 50%);
    position: relative;
    left: 40px;
    top: -2px;
}
#clock {
    position: relative;
    left: 200px;
    top: -19px;
}
#info #p2 {
    color: hsl(215, 51%, 70%);
    position: relative;
    left: 220px;
    top: -41px;
}
#hr {
    position: relative;
    top: -20px;
    left: 20px;
    width: 90%;
    border-radius: 10px;
    background-color: hsl(214, 39%, 21%);
    height: 1px;
    border: none;
}
#img2 {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 20px;
    top: -9px;
}
#img2 img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#text {
    display: flex;
    position: relative;
    top: -40px;
    left: 70px;
}
#p3 {
    color: hsl(215, 51%, 70%);
}
#p4 {
    color: white;
}
#p4:hover {
    color: hsl(178, 100%, 50%);
}