#d1 {
    color: rgb(34, 23, 98);
    background-color: rgb(34, 23, 98);
}
#d1 {
    color: rgb(34, 23, 98);
    background-color: rgb(34, 23, 98);
}
#d1 {
    color: rgb(34, 23, 98);
    background-color: rgb(34, 23, 98);
}
#d1 {
    color: rgb(34, 23, 98);
    background-color: rgb(34, 23, 98);
}
#d1 {
    color: rgb(34, 23, 98);
    background-color: rgb(34, 23, 98);
}