#p1 {
    color: rgb(92,89,23);
    background-color: rgb(162,82,23);
}
#p2 {
    color: rgb(92,89,23);
    background-color: rgb(162,82,23);
}
#p3 {
    color: rgb(92,89,23);
    background-color: rgb(162,82,23);
}
#p4 {
    color: rgb(92,89,23);
    background-color: rgb(162,82,23);
}
#p5 {
    color: rgb(92,89,23);
    background-color: rgb(162,82,23);
}