#a1:hover {
    color: aqua;
    background-color: antiquewhite;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: dotted;
}
#a1:visited {
    color: aqua;
    background-color: antiquewhite;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: dotted;
}
#a2:hover{
    color: aqua;
    background-color: antiquewhite;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: dotted;
}
#a2:visited {
    color: aqua;
    background-color: antiquewhite;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: dotted;
}
#a3:hover {
    color: aqua;
    background-color: antiquewhite;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: dotted;
}
#a3:visited {
    color: aqua;
    background-color: antiquewhite;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: dotted;
}
#a4:hover {
    color: aqua;
    background-color: antiquewhite;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: dotted;
}
#a4:visited {
    color: aqua;
    background-color: antiquewhite;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: dotted;
}
#a5:visited {
    color: aqua;
    background-color: antiquewhite;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: dotted;
}
#a5:visited {
    color: aqua;
    background-color: antiquewhite;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: dotted;
}